<html>
	<head>
		
	</head>
	<body>
		<h1 align="center">Caesar Cipher takes a string and a factor, then encrypts the string by moving each character in the string by the constant factor. </h1>
		<p align="center">Enter your details below</p>		
		<div align="center">
			<form>
			  <input type='text' name='string', placeholder="Enter the string here" />
			  <p></p>
			  <input type='text' name='factor', placeholder="Enter the factor here" />
			  <p></p>
			  <input type='submit' value='Send' />
			</form>
		</div>
	</body>
</html>
